# API eagaseke locale
NEXT_PUBLIC_EAGASEKE_ORIGIN=http://localhost:30009

# Site marketing (création de compte)
NEXT_PUBLIC_CMS_URL=http://localhost:3004

# Auth.js — client Keycloak « portal » (realm community-platform)
AUTH_SECRET=changez-moi-openssl-rand-base64-32
AUTH_KEYCLOAK_ISSUER=http://localhost:8099/realms/community-platform
AUTH_KEYCLOAK_ID=portal
AUTH_KEYCLOAK_SECRET=portal-dev-secret-change-me
AUTH_URL=http://localhost:3003

# Optionnel
# AUTH_KEYCLOAK_SCOPE=openid profile email roles
# AUTH_KEYCLOAK_PROMPT_LOGIN=true
# AUTH_DEBUG=true
